body {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 94%);
}
body .overview {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
}
body .overview .mobile-bg {
  display: none;
  visibility: hidden;
}
body .overview .desktop-bg {
  display: block;
  position: absolute;
  z-index: 1;
}
body .overview .container {
  width: 30%;
  background-color: white;
  z-index: 5;
  position: relative;
}
body .overview .container .hero img {
  width: 90%;
}
body .overview .container .text-body {
  width: 80%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
body .overview .container .text-body h1 {
  font-weight: 700;
  font-size: 1.5rem;
}
body .overview .container .text-body p {
  color: hsl(224, 23%, 55%);
}
body .overview .container .text-body .p-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(225, 100%, 98%);
  font-size: 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body .overview .container .text-body .p-container .icon-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .overview .container .text-body .p-container .icon-con img {
  width: 40px;
  height: 40px;
}
body .overview .container .text-body .p-container .price {
  margin-left: 1em;
}
body .overview .container .text-body .p-container .price .p-head {
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
}
body .overview .container .text-body .p-container .price .p-text {
  font-size: 0.8rem;
  color: hsl(224, 23%, 55%);
}
body .overview .container .text-body .p-container .p-change {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 0.8rem;
}
body .overview .container .text-body .p-container .p-change:hover {
  color: hsl(224, 23%, 55%);
}
body .overview .container .text-body button {
  height: 45px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}
body .overview .container .text-body button:first-of-type {
  background-color: hsl(245, 75%, 52%);
  color: white;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 8px 15px rgba(0, 0, 0, 0.1);
}
body .overview .container .text-body button:first-of-type:hover {
  background-color: hsl(224, 23%, 55%);
}
body .overview .container .text-body button:last-of-type {
  background-color: white;
  color: hsl(224, 23%, 55%);
}
body .overview .container .text-body button:last-of-type:hover {
  color: black;
}
body .container {
  width: 30%;
  background-color: white;
  z-index: 5;
  position: relative;
}
body .container .hero img {
  width: 90%;
}
body .container .text-body {
  width: 80%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
body .container .text-body h1 {
  font-weight: 700;
  font-size: 1.5rem;
}
body .container .text-body p {
  color: hsl(224, 23%, 55%);
}
body .container .text-body .p-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(225, 100%, 98%);
  font-size: 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body .container .text-body .p-container .icon-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .container .text-body .p-container .icon-con img {
  width: 40px;
  height: 40px;
}
body .container .text-body .p-container .price {
  margin-left: 1em;
}
body .container .text-body .p-container .price .p-head {
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
}
body .container .text-body .p-container .price .p-text {
  font-size: 0.8rem;
  color: hsl(224, 23%, 55%);
}
body .container .text-body .p-container .p-change {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 0.8rem;
}
body .container .text-body .p-container .p-change:hover {
  color: hsl(224, 23%, 55%);
}
body .container .text-body button {
  height: 45px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}
body .container .text-body button:first-of-type {
  background-color: hsl(245, 75%, 52%);
  color: white;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 8px 15px rgba(0, 0, 0, 0.1);
}
body .container .text-body button:first-of-type:hover {
  background-color: hsl(224, 23%, 55%);
}
body .container .text-body button:last-of-type {
  background-color: white;
  color: hsl(224, 23%, 55%);
}
body .container .text-body button:last-of-type:hover {
  color: black;
}
@media screen and (max-width: 768px) {
  body .overview {
    max-width: 768px;
    margin: 0 auto;
  }
  body .overview .mobile-bg {
    display: block;
    position: absolute;
    z-index: 1;
  }
  body .overview .desktop-bg {
    display: none;
    visibility: hidden;
  }
  body .overview .container {
    margin: 2em auto;
    width: 90%;
    overflow: auto;
  }
  body .overview .container h1 {
    font-size: 1rem;
  }
  body .overview .container p {
    font-size: 0.8rem;
  }
  body .overview .container .text-body .p-container {
    font-size: 0.8rem;
  }
  body .attribution {
    text-align: center;
  }
}