@import './variables';



@mixin flex-default{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: $background;
}



.container{
   
    width: 30%;
    background-color: $white-text-bg-color;
    z-index: 5;
    position: relative;
  
   


    .hero{

      img{
        width: 90%;
      
      }
    }

    .text-body{
        width: 80%;
        overflow-wrap: break-word;
        word-wrap: break-word;

        h1{
          font-weight: $font-weight-bold;
          font-size: 1.5rem;
        }

        p{
            color: $text-hover-color;

        }

        .p-container{

          @include flex-default();
            background-color: $price-container-color;
            font-size: 0.8rem;
            box-sizing: border-box;

          
            .p-container1{
                @include flex-default();

               img{
                   width: 40px;
                   height: 40px;
               }

               .price{
                   margin-left: 1em;
                   .p-head{
                       color: $black-text;
                      //  font-size: 1rem;
                       font-weight: $font-weight-bold;
                   } 

                   .p-text{
                    
                    //  font-size: 0.8rem;
                        color: $text-hover-color;

                   }


       
                }

             
            }
          
            

            .p-change{
               color: $button-link-color;
               font-weight: $font-weight-bold;
              //  font-size: 0.8rem;
               &:hover{
                 color: $text-hover-color;
               }
             }
         
        }

        button{
         
           height: 45px;
           border: none;
           font-size: 1rem;
           font-weight: $font-weight-bold;
         
        }

        button:first-of-type{
           background-color: $button-link-color;
           color: $white-text-bg-color;
           box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 8px 15px rgba(0,0,0,0.1);

           &:hover{
             background-color: $text-hover-color;
           
           }
          }


         
          button:last-of-type{
              background-color: $white-text-bg-color;
              color: $text-hover-color;
           

              &:hover{
               color: $black-text;
              }
          }

   


        
    }
    
}

