$background-color:  hsl(225, 100%, 94%);
$text-hover-color: hsl(224, 23%, 55%);
$white-text-bg-color: white;
$price-container-color: hsl(225, 100%, 98%);
$button-link-color: hsl(245, 75%, 52%);
$black-text: black;