
@import './variables';



body{
    width:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    background-color: $background-color;


    .overview{
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        position: fixed;
        // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        
      .mobile-bg{
        display: none;
        visibility: hidden;
      }

      .desktop-bg{
        display: block;
        position: absolute;
        z-index: 1;
      }
 
      @import './summary-card';
     
    }

   
    @import './mobile-design';
   
    }

 
  //practice using extend
  // .person{
  //   background-color: blueviolet;
  //   text-align: center;
  // }

  // .person-2{
  //   @extend .person;
  //   color: white;
  // }


